{% extends page ? "::base.html.twig" : "NitraStoreBundle::colorbox.html.twig" %}
{% trans_default_domain "NitraBuyerBundle" %}

{% block content %}
    {% block title %}
        {% if page %}
            <h1 class="title">{{ 'privat_office.info.title'|trans }}</h1>
        {% endif %}
    {% endblock title %}
    {% block tabs_personal_info_content %}
        <div class="buyer_data">
            {% block personal_info %}
                {# личная информация с возможностью редактирования #}
                <div class="personal_info">
                    {% block buyer_info_name %}<div class="row"><label>{{ 'privat_office.info.name'|trans }}</label><span class="value">{{ buyer.name }}</span></div>{% endblock buyer_info_name %}
                    {% if buyer.phone is not empty %}
                        {% block buyer_info_phone %}<div class="row"><label>{{ 'privat_office.info.phone'|trans }}</label><span class="value">{{ buyer.phone }}</span></div>{% endblock buyer_info_phone %}
                    {% endif %}
                    {% if buyer.email is not empty %}
                        {% block buyer_info_email %}<div class="row"><label>{{ 'privat_office.info.email'|trans }}</label><span class="value">{{ buyer.email }}</span></div>{% endblock buyer_info_email %}
                    {% endif %}
                    {% if buyer.cityName is not empty %}
                        {% block buyer_info_city %}<div class="row"><label>{{ 'privat_office.info.city'|trans }}</label><span class="value">{{ buyer.cityName }}</span></div>{% endblock buyer_info_city%}
                    {% endif %}
                    {% block buyer_change_password %}
                        <div class="row">
                            {% block buyer_change_password_button %}<a class="colorbox" href="{{ path('private_office_change_pass') }}">{{ 'change_password'|trans }}</a>{% endblock buyer_change_password_button %}
                        </div>
                    {% endblock buyer_change_password %}
                    {% block buyer_edit_data %}
                        <div class="row">
                            {% block buyer_edit_data_button %}<a class="colorbox" href="{{ path('edit_buyer_data') }}">{{ 'privat_office.info.edit'|trans }}</a>{% endblock buyer_edit_data_button %}
                        </div>
                    {% endblock buyer_edit_data %}
                </div>
            {% endblock personal_info %}
        </div>
    {% endblock tabs_personal_info_content %}
{% endblock %}