{% trans_default_domain "NitraBuyerBundle" %}

{% block change_password %}
    <div class="change_pass">
        {% block change_password_block %}
            {% block title %}<h1>{{ 'pass.title'|trans }}</h1>{% endblock title %}
            {% if (msg is defined) and not (msg == '') %}
                {% block changePassSuccess %}
                    {{ msg|trans }}
                    {% block js_change_pass_success %}
                        <script type="text/javascript">
                            setTimeout(function(){
                                $.colorbox.close();
                            }, 1500);
                        </script>
                    {% endblock js_change_pass_success %}    
                {% endblock changePassSuccess %}
            {% else %}
                {% block changePassForm %}
                    {{ form(form, {'attr': {'id': 'change_pass'} }) }}
                {% endblock changePassForm %}
                {% block js_change_pass_form %}
                    <script type="text/javascript">
                        $('#change_pass').submit(function(){
                            $.ajax({
                                type: "POST",
                                url: "{{ path('private_office_change_pass') }}",
                                data: $(this).serialize(),
                                success: function(html) {
                                    $('#cboxLoadedContent').html(html);
                                    $.colorbox.resize();
                                }
                            });
                            return false;
                        });
                    </script>
                {% endblock js_change_pass_form %}
            {% endif %}
        {% endblock change_password_block %}               
    </div>
{% endblock change_password %}