{% extends app.request.isXmlHttpRequest ? "NitraStoreBundle::colorbox.html.twig" : "::base.html.twig" %}
{% trans_default_domain "NitraBuyerBundle" %}

{% block content %}
    {% if form is defined %}
        {% block form_title %}
            <h1>{{ 'privat_office.edit'|trans }}</h1>
        {% endblock form_title %}
        {% block form %}
            {{ form(form) }}
        {% endblock form %}
        {% block js %}
            {{ form_javascript(form) }}
            <script type="text/javascript">
                $('#{{ form.vars.attr.id }}').submit(function(){
                    $.ajax({
                        type:       'POST',
                        url:        $(this).prop('action'),
                        data:       $(this).serialize(),
                        success:    function(data) {
                            $('#cboxLoadedContent').html(data);
                            $.colorbox.resize();
                        }
                    });
                    return false;
                });
            </script>
        {% endblock js %}
    {% elseif msg is defined %}
        {{ msg|trans }}
        <script type="text/javascript">
            setTimeout(function(){
                $.colorbox.close();
            }, 1500);
        </script>
    {% endif %}
{% endblock content %}