{% trans_default_domain "NitraBuyerBundle" %}
{% block enter %}
    <div id="buyer_enter" class="enter">
        {% if buyer %}
            {% block buyer_exit %}
                <a class="link_icon" id="buyer_exit" href="{{ path('logout') }}">{{ 'buttons.exit'|trans }}</a> |
                <a href="{{ path('privat_office_page') }}">{{ 'buttons.privat_office'|trans }}</a>
            {% endblock buyer_exit %}
        {% else %}
            {% block buyer_enter %}
                <a class="link_icon colorbox" href="{{ path('nitra_auth') }}">{{ 'buttons.enter'|trans }}</a> | 
                <a class="colorbox" href="{{ path('registration') }}">{{ 'buttons.register'|trans }}</a>
            {% endblock buyer_enter %}
        {% endif %}
        {% block js %}
            <script type="text/javascript">
                function updateBuyerButtons() {
                    $.ajax({
                        type: "POST",
                        url: "{{ path ('buyer_enter_generator') }}",
                        success: function(html) {
                            $('#buyer_enter').replaceWith(html);
                        }
                    });
                }
                $(document).ready(function(){
                    $('#buyer_exit').on('click', function(){
                        $.ajax({
                            type: "POST",
                            url: $(this).attr('href'),
                            success: function() {
                                location.reload();
                            }
                        });
                        return false;
                    });
                });
            </script>
        {% endblock js %}
    </div>
{% endblock enter %}