{% extends page ? "::base.html.twig" : "NitraStoreBundle::colorbox.html.twig" %}
{% trans_default_domain "NitraBuyerBundle" %}

{% block content %}
    {% block title %}
        {% if page %}
            <h1 class="title">{{ 'privat_office.orders.title'|trans }}</h1>
        {% endif %}
    {% endblock title %}
    {% block orders_data %}       
        {% if (orders is not empty) or (orders_history is not empty) %}
            {% block orders_data_block %}
                <div class="orders_data">
                    {% block orders_data_content %}
                        <div class="orders">
                            {% block orders %}
                                {# текущие заказы #}
                                {% for id, order in orders %}
                                    {{ block('order') }}
                                {% endfor %}
                            {% endblock orders %}
                            {% block order_history %}
                                {# завершенные заказы #}
                                {% for id, order in orders_history %}
                                    {{ block('order') }}
                                {% endfor %}
                            {% endblock order_history %}
                        </div>
                    {% endblock orders_data_content %}
                </div>
            {% endblock orders_data_block %}
        {% endif %}
    {% endblock orders_data %}
{% endblock %}

{% block order %}
    <div class="order">
        {% set summ = 0 %}
        {% set count = 0 %}
        <div class="order_info">
            {% block title_number_orders %}<h3>{{ 'privat_office.orders.number'|trans }}{{ id }}</h3>{% endblock title_number_orders %}
            {% if order.deliveryDate %}
                {% block order_date %}<span class="date">{{ ('createdDate' in order|keys) ? 'privat_office.orders.date_from'|trans ~ order.createdDate.date|localizeddate('none', 'none', app.request.locale , null, 'dd LLLL YYYY') }}</span>{% endblock order_date %}
            {% endif %}
        </div>
        {% block order_status %}
            {% set status = '' %}
            {% if order.status == 'Отменен'  or order.status == 'Завершен' %}{% set status = 'close' %}{% endif %}
            {% if order.status == 'Ожидание' or order.status == 'В работе' %}{% set status = 'wait'  %}{% endif %}
            {% if order.status == 'Готов'    or order.status == 'Заказан'  %}{% set status = 'done'  %}{% endif %}
            {% if order.status == 'Отчет покупателю' %}{% set status = 'reports' %}{% endif %}
            {% block order_status_content %}<div class="status">{{ 'privat_office.orders.status'|trans }}<span class="value {{ status }}" >{{ order.status }}</div>{% endblock order_status_content %}
        {% endblock order_status %}
        {% block order_delivery_cost %}
            {% if order.deliveryCost %}
                {% block order_delivery_cost_content %}<div class="row delivery_cost">{{ 'privat_office.orders.d_cost'|trans }}: <span>{{ order.deliveryCost }}</span></div>{% endblock order_delivery_cost_content %}
            {% endif %}
        {% endblock order_delivery_cost %}  
        {% block order_address %}  
            {% if order.isDirect %}
                {% block order_address_content %}<div class="row address">{{ 'privat_office.orders.address'|trans }}: <span>{{ order.address }}</span></div>{% endblock order_address_content %}
            {% endif %}
        {% endblock order_address %} 
        {% block order_city %}<div class="row">{{ 'privat_office.orders.city'|trans }}: <span>{{ order.city.name }}, {{ order.city.region }}</span></div>{% endblock order_city %}
        {% block products_info %}        
            {% if order.orderEntries|length %}
                {% block products_info_block %}   
                    {% for entrie in order.orderEntries  %}
                        {% set summ = summ + entrie.quantity*entrie.priceOut %}
                        {% set count = count + entrie.quantity %}
                    {% endfor %}
                    {% block products_info_conteiner %}
                        <a class="products_info" onclick="$('#product_list_{{ id }}').slideToggle();">
                            <span class="count">{{ count|declension('privat_office.orders.count.count1'|trans, 'privat_office.orders.count.count2'|trans, 'privat_office.orders.count.count3'|trans)}}</span> <span class="summ">{{ summ|price }}</span>
                        </a>
                    {% endblock products_info_conteiner %}
                    {% block products_list %}
                        <div id="product_list_{{ id }}" class="product" style="display: none;">
                            {% block products_list_block %}
                                <table>
                                    {% block products_list_caption %}
                                        <thead>
                                            <tr>
                                                <th>{{ 'privat_office.orders.entries.name'   |trans }}</th>
                                                <th>{{ 'privat_office.orders.entries.price'  |trans }}</th>
                                                <th>{{ 'privat_office.orders.entries.count'  |trans }}</th>
                                                <th>{{ 'privat_office.orders.entries.article'|trans }}</th>
                                                <th>{{ 'privat_office.orders.entries.status' |trans }}</th>
                                                <th>{{ 'privat_office.orders.entries.total'  |trans }}</th>
                                            </tr>
                                        </thead>
                                    {% endblock products_list_caption %}  
                                    <tbody>
                                        {% block products_list_content %}
                                            {% for entry in order.orderEntries %}
                                                <tr class="item">
                                                    <td class="name"><a href="{{ path('product_page', {'slug': entry.product}) }}">{{ entry.product.fullName }}</a></td>
                                                    <td>{{ entry.priceOut|price }}</td>
                                                    <td>{{ entry.quantity }}</td>
                                                    <td>{{ entry.product.article }}</td>
                                                    <td>{{ entry.status }}</td>
                                                    <td class="summ">{{ entry.priceOut * entry.quantity }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endblock products_list_content %}
                                    </tbody>
                                </table>
                            {% endblock products_list_block %}
                        </div>
                    {% endblock products_list %}
                {% endblock products_info_block %}
            {% endif %}
        {% endblock products_info %}        
    </div>
{% endblock order %}