{% extends '::base.html.twig' %}
{% trans_default_domain "NitraBuyerBundle" %}

{% block content %}
    {% block title %}<h1 class="title">{{ 'privat_office.title'|trans }}</h1>{% endblock title %}
    {% block privat_office %}
        <div class="tabs privat_office">
            {% set orders_data = render(controller('NitraBuyerBundle:PrivateOffice/PrivateOffice:ordersData', {'page': false})) %}
            {% block privat_office_tabs_head %}    
                <div id="tabs_info" class="htabs">
                    {% block privat_office_tabs_head_content %}
                        {% block tabs_head_personal_info_block %}
                            {% block tabs_head_personal_info %}<a data-tab="personal_info">{{ 'privat_office.info.title'|trans }}</a>{% endblock tabs_head_personal_info %}
                        {% endblock tabs_head_personal_info_block %}
                        {% block tabs_head_reports_block %}
                             {% block tabs_head_reports %}<a data-tab="reports">{{ 'report.title'|trans }}</a>{% endblock tabs_head_reports %}
                        {% endblock tabs_head_reports_block %}
                        {% block tabs_head_cart_info_block %}
                            {% if (app.session.get('cart', {}) is not empty) or (app.session.get('sets', {}) is not empty) %}
                                {% block tabs_head_cart_info %}<a data-tab="cart_info">{{ 'privat_office.cart.title'|trans }}</a>{% endblock tabs_head_cart_info %}
                            {% endif %}
                        {% endblock tabs_head_cart_info_block %}
                        {% block tabs_head_order_history_block %}
                            {% if orders_data|trim is not empty %}
                                 {% block tabs_head_order_history %}<a data-tab="order_history">{{ 'privat_office.orders.title'|trans }}</a>{% endblock tabs_head_order_history %}
                            {% endif %}
                        {% endblock tabs_head_order_history_block %}
                    {% endblock privat_office_tabs_head_content %}
                </div>
            {% endblock privat_office_tabs_head %}   
            {% block privat_office_tabs %}
                <div class="tab_box">
                    {% block privat_office_tabs_content %}
                        {% block tabs_personal_info_block %}
                            <div class="tab" id="personal_info">
                                 {% render controller('NitraBuyerBundle:PrivateOffice/PrivateOffice:buyerData', {'page': false}) %} 
                            </div>
                        {% endblock tabs_personal_info_block %}
                        {% block tabs_reports_block %}
                            <div class="tab" id="reports">
                                 {% render controller('NitraBuyerBundle:PrivateOffice/PrivateOffice:reportsData', {'page': false}) %} 
                            </div>
                        {% endblock tabs_reports_block %}
                        {% block tabs_cart_info_block %}
                            {% if (app.session.get('cart', {}) is not empty) or (app.session.get('sets', {}) is not empty) %}
                                <div class="tab" id="cart_info">
                                    {% block tabs_cart_info %}
                                        <div class="cart">{% render controller("NitraStoreBundle:Checkout/Checkout:getProductList") %}</div>
                                        <a class="colorbox" href="{{ path('order_page') }}">{{ 'privat_office.cart.buy'|trans }}</a>
                                    {% endblock tabs_cart_info %}
                                </div>
                            {% endif %}
                        {% endblock tabs_cart_info_block %}
                        {% block tabs_order_info_block %}
                            {% if orders_data|trim is not empty %}
                                {% block tabs_order_info %}
                                    <div class="tab" id="order_history">
                                        {% block orders %}{{ orders_data|raw }}{% endblock orders %}
                                    </div>
                                {% endblock tabs_order_info %}
                            {% endif %}
                        {% endblock tabs_order_info_block %}
                    {% endblock privat_office_tabs_content %}
                </div>
            {% endblock privat_office_tabs %}
        </div>
        {% block js %}
            <script type="text/javascript">
                $(document).ready(function(){
                    //Tabs
                    $.tabs('#tabs_info a'); 
                });
            </script>
        {% endblock js %}
    {% endblock privat_office %}
{% endblock content %}