{% extends page ? "::base.html.twig" : "NitraStoreBundle::colorbox.html.twig" %}
{% trans_default_domain "NitraBuyerBundle" %}

{% block content %}
    {% block reports_articles_block %}
        <div class="reports">
            {% block reports_articles_content %}
                <div class="row articles">
                    {{ form_start(form) }} 
                        {{ form_label(form.report_new_information) }}
                        <span class="widget">{{ form_widget(form.report_new_information) }}</span>
                        <span class="button_save">{{ form_widget(form.submit) }}</span>
                        <span class="result"></span>
                    {{ form_end(form) }}
                </div>
            {% endblock reports_articles_content %}
        </div>
    {% endblock reports_articles_block %}

    {% block reports_quantity %}
        {% if reportProducts.quantity is not empty %}
            {% block reports_quantity_block %}
                <div class="reports">
                    {% block reports_quantity_content %}
                        {% block reports_quantity_title %}<div class="title">{{ 'report.quantity.title'|trans }}</div>{% endblock reports_quantity_title %}
                        {% set report = 'quantity' %}
                        {% for product in reportProducts.quantity %}
                            {{ block('product') }}
                        {% endfor %}
                    {% endblock reports_quantity_content %}
                </div>
            {% endblock reports_quantity_block %}
        {% endif %}
    {% endblock reports_quantity %}

    {% block reports_price %}
        {% if reportProducts.priceDown is not empty %}
            {% block reports_price_block %}
                <div class="reports">
                    {% block reports_price_content %}
                        {% block reports_price_title %}<div class="title">{{ 'report.price.title'|trans }}</div>{% endblock reports_price_title %}
                        {% set report = 'priceDown' %}
                        {% for product in reportProducts.priceDown %}
                            {{ block('product') }}
                        {% endfor %}
                    {% endblock reports_price_content %}
                </div>
            {% endblock reports_price_block %}
        {% endif %}
    {% endblock reports_price %}

    {% block js %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('.remove_product').click(function(){
                    var self = $(this);
                    $.ajax({
                        type: "POST",
                        url: $(this).attr('href'),
                        success: function() {
                            self.parent().remove();
                        },
                        error: function() {
                            self.append('error');
                        }
                    });
                    return false;
                });
                $('#{{ form.vars.attr.id }}').submit(function(){
                    $.ajax({
                        type: "POST",
                        url: {% block path %}$(this).attr('action'){% endblock path %},  
                        data: $(this).serialize(),
                        success: function() {
                            $('.reports .result').fadeIn().removeClass('error').addClass('success').html("{{ 'success'|trans }}").delay(2000).fadeOut();
                        },
                        error: function() {
                            $('.reports .result').fadeIn().removeClass('success').addClass('error').html("{{ 'errors.report.info'|trans }}").delay(2000).fadeOut();
                        }
                    });
                    return false;
                });
            });
        </script>
    {% endblock js %}
{% endblock content %}

{% block product %}
    <div class="product">
        <a class="image" href="{{ path('product_page', {'slug': product}) }}">
            <img id="list_image_{{ product.id }}" src="{{ product.image|default('images/no_image.jpg')|imagine_filter('cart_thumb') }}" alt="{{ product.fullName }}" />
        </a>
        <span class="name"><a href="{{ path('product_page', {'slug': product}) }}">{{ product.fullName }}</a></span>
        <span class="article">
            <span>
                {{ 'product.article'|trans({}, 'NitraProductBundle') }}
            </span>
            {{ product.article }}
        </span>
        {% block product_price %}
            <div class="price_box">
                {% block old_price %}
                    {% if buyer.reportProducts[product.id].oldPrice is defined and  report == 'priceDown'%}
                        <span class="old_price">{{ buyer.reportProducts[product.id].oldPrice }}</span>
                    {% endif%} 
                {% endblock old_price %}
                    
                {% block price %}
                    <span class="price{{ (product.stock == 'onOrder' or product.stock == 'notInStock') ? ' out_stock' }}">{{ product.price|price }}</span>
                {% endblock price %}
                {{ (product.stock == 'inStock' and report == 'quantity') ? '<span class="stock in_stock">Есть в наличии</span>' }}
            </div>
        {% endblock product_price %}
        <a class="remove_product remove" href="{{ path('privat_office_remove_report_product', {'id': product.id, 'report': report}) }}"></a>
    </div>
{% endblock product %}